{% set path="bundles/generalcomun/carousel/" %}
    <br />
    <div id="carousel">
    <ul>
        <li><img src="{{ asset( path ~ 'sCCenHos.jpg') }}" alt="Caja Petrolera" /> <span>Santa Cruz - Hospital Central</span></li>
        <li><img src="{{ asset( path ~ 'sCCenEme.jpg') }}" alt="Caja Petrolera" /> <span>Santa Cruz - Emergencias Central</span></li>
        <li><img src="{{ asset( path ~ 'sCGua.jpg') }}"    alt="Caja Petrolera" /> <span>Santa Cruz - Hospital Guaracachi</span></li>
        <li><img src="{{ asset( path ~ 'sCPolNor.jpg') }}" alt="Caja Petrolera" /> <span>Santa Cruz - PoliNorte</span></li>
        <li><img src="{{ asset( path ~ 'sCCamiri.jpg') }}" alt="Caja Petrolera" /> <span>Santa Cruz - Camiri</span></li>

        <li><img src="{{ asset( path ~ 'lPCenCli.jpg') }}" alt="Caja Petrolera" /> <span>La Paz - Clinicas</span></li>
        <li><img src="{{ asset( path ~ 'lPSurHos.jpg') }}" alt="Caja Petrolera" /> <span>La Paz - Nuevo Hospital</span></li>                

        <li><img src="{{ asset( path ~ 'sucre.jpg') }}"    alt="Caja Petrolera" /> <span>Sucre</span></li>
        <li><img src="{{ asset( path ~ 'sucre2.jpg') }}"   alt="Caja Petrolera" /> <span>Sucre</span></li>                
    </ul>
    </div>
