{% set ord         = app.session.get('ord') %}
{% set orddir      = app.session.get('orddir') %}
{% set pag         = app.session.get('pag') %}
{% set vError      = app.session.get('error')|default('') %}
{# {% set vAccPag     = app.session.get('accPag')|default('S') %} #}
{% set vFil        = app.session.get('fil')|default(" ") %}

{% set vBtnImp     = btnImp|default('N') %}
{% set vBtnVol     = btnVol|default('S') %}
{% set vTitGen     = titGen|default('Sin titulo') %}
{% set vCantRegDet = cantRegDet|default(0) %}


<div class="grid_16">
<br />
<div class="error">{{ vError}}</div>
<fieldset>
   <legend>{{ vTitGen }}</legend>
    <fieldset>
        <legend>Cabecera</legend>
        {% embed dir ~ "/Cabecera:_show.html.twig" %}{% endembed %}
    </fieldset>    
    <br>
    <fieldset>
        <legend>Detalle: Total:{{ vCantRegDet }}{% if vFil != ' ' %} - Filtro:{{ paginacion.totalItemCount }} {% endif %}</legend>
        {% embed dir ~ "/Detalle:_show.html.twig" %}{% endembed %}
    </fieldset>           
</fieldset>

<div class="grid_3">
{% if vBtnVol == 'S' %}<center><a href="{{ path( ruta ~ '_listado', { 'ord': ord, 'orddir': orddir, 'pag': pag }) }}" class='btn_ga'>Volver al listado</a></center>{% endif %}
</div>
<div class="grid_10">
    <center>
    {% if vBtnImp == 'S' %} <a href="{{ path( ruta ~ '_imprimir' ) }}" class='btnGPrn'>Imprimir</a> {% endif %}
    </center>
</div>
</div><div class="clear"></div>
