            <tr><th>Creacion    </th><td>{{ entity.creadoEl|date('Y-m-d H:i') }}    </td></tr>
            <tr><th>Recepcion   </th><td>{{ entity.recepcionEl|date('Y-m-d H:i') }} </td></tr>
            <tr><th>Fechadoc    </th><td>{{ entity.fechaDoc|date('Y-m-d') }}        </td></tr>
            <tr><th>Cite        </th><td>{{ entity.cite }}                          </td></tr>
            <tr><th>Referencia  </th><td>{{ entity.referencia }}                    </td></tr>
            <tr><th>Remite      </th><td>{{ entity.remite }}                        </td></tr>
            <tr><th>Folio       </th><td>{{ entity.folio }}                         </td></tr>
            <tr><th>Archivo     </th><td><a href="{{ asset( directorio_archivos ~ 'Docrec/' ~ entity.archivo ) }}">{{ entity.archivo }}</a></td></tr>
            <tr><th>Modificacion</th><td>{% if entity.modificadoEl %}{{ entity.modificadoEl|date('Y-m-d H:i') }}{% endif %}</td></tr>
            <tr><th>Ubicacion   </th><td>{{ entity.servicioActual }}                </td></tr>
            <tr><th>Estado      </th><td>{{ entity.estadoActual }}                  </td></tr>
