   <fieldset>
      <legend>{{ titulo }}</legend>  
      <div>
         {{ form_errors(form.oldPassword) }}
         {{ form_label(form.oldPassword) }}
         {{ form_widget(form.oldPassword) }}
      </div>
      <div>
         {{ form_errors(form.newPassword) }}
         {{ form_label(form.newPassword) }}
         {{ form_widget(form.newPassword) }} (Minimo 5 caracteres)
      </div>
   </fieldset>
