   <fieldset>
      <legend>{{ titulo }}</legend>  
      <div>
         {{ form_errors(form.login) }}
         {{ form_label(form.login) }}
         {{ form_widget(form.login, { 'attr' : { 'maxlength':'8', 'class':'corto' }}) }} (Entre 4 y 8 caracteres) Sera grabado en minuscula
      </div>
      <div>
         {{ form_errors(form.password) }}
         {{ form_label(form.password) }}
         {{ form_widget(form.password) }} (Minimo 5 caracteres)
      </div>
   </fieldset>
