{% extends "GeneralComunBundle::layout.html.twig" %} 

{% block cuerpo %}
    {% set cantTrans = entity.derivaciones|length %}
    {% embed 'GeneralComunBundle:Public:_show.html.twig' %}
        {% block datos %}    
            <tr><th>Nombre      </th><td>{{ entity.nombre }}</td></tr>    
            <tr><th>Abreviatura </th><td>{{ entity.abreviatura }}</td></tr>
            <tr><th>Telefono    </th><td>{{ entity.telf }}</td></tr>
            <tr><th>Telf.Interno</th><td>{{ entity.telfInterno }}</td></tr>
            <tr><th>Login       </th><td>{{ entity.login }}</td></tr>
        {% endblock %}
        
        {% block datosTrans %}      
            {% if entity.derivaciones|length > 0 %}<tr><th>Derivaciones</th><td>{{ entity.derivaciones|length }}</td></tr>{% endif %}
        {% endblock %}

    {% endembed %}
{% endblock %}
