{% extends 'GeneralComunBundle::layout.html.twig' %} 

{% block cuerpo %}
    {% embed 'GeneralComunBundle:Public:_listado.html.twig' %}
        {% block titulo %}
            {# Max 84% #}
            <th width='59%'>{% set fld = 'nombre' %}{{ knp_pagination_sortable(paginacion, fld|capitalize, 't.' ~ fld) }}</th>
            <th width='20%'>{% set fld = 'fecha' %} {{ knp_pagination_sortable(paginacion, fld|capitalize, 't.' ~ fld) }}</th>
            <th width= '5%'>{% set fld = 'tipo' %}  {{ knp_pagination_sortable(paginacion, fld|capitalize, 't.' ~ fld) }}</th>
        {% endblock %}      
        
        {% block detalle %}
            <td>{{ entity.nombre }}</td>
            <td class='fch'>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y') }}{% endif%}</td>
            <td>{{ entity.tipo }}</td>
            {{ parent() }}
        {% endblock %}
    {% endembed %}
{% endblock %}
